html {
  background-color: #555;  
}

#main_div {
  background-color: darkgray;
  border: 1px solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 90%;
  height: 90%;
  margin: 50px auto;
  color: white;
}

#formularz {
  margin-top: 15px;
}

#table-dane-personalne {
  width: 100%;
}

table {
  border: 1px solid white;
  background-color: #555;
}

.data-przyjecia {
  padding: 10px;
  background-color: #555;
  text-align: center;
}

.tabela-szkiel {
  padding: auto;
  width: 100%;
  border-collapse: collapse;
}

.tabela-szkiel thead td {
  color: white;
  background-color: #555;
  text-align: center;
  border: 1px black;
}

.tabela-szkiel tbody td {
  background-color: white;
  border-collapse: collapse;
  text-align: center;
  border: 1px black;
  margin: 0px;
}

.tabela-szkiel tbody tr {
  margin-top: 10px;
}

.tabela-szkiel tbody td, #tabela-szkiel thead td {
  background-color: #555;
  border: 1px solid white;
}

legend {
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
  color: white;
}

.div-inline {    
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
}

.half-size-fieldset {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  float: left;
}

.input {
  text-align: center;
}

.wrong-input {
  background-color: red;
  color: white;
}