<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
</head>

<body>
    <div id="main_div">
        <form id="formularz">
            <br />

            <p class="data-przyjecia ">
                Data Przyjecia
                <input class="input" type="text" id="data_przyjecia" value="">
            </p>

            <fieldset>
                <legend>Dane personalne</legend>
                <table id="table-dane-personalne">
                    <tbody>
                        <tr>
                            <td>
                                PESEL
                            </td>
                            <td>
                                <input class="input" id="PESEL" type="text">
                            </td>
                            <td>
                                Imie
                            </td>
                            <td>
                                <input class="input" id="imie" type="text">
                            </td>
                            <td>
                                Nazwisko
                            </td>
                            <td>
                                <input class="input" type="text" name="data_przyjecia" value="">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Miasto
                            </td>
                            <td>
                                <input class="input" type="text" name="data_przyjecia" value="">
                            </td>
                            <td>
                                Ulica
                            </td>
                            <td>
                                <input class="input" type="text" name="data_przyjecia" value="">
                            </td>
                            <td>
                                Kod pocztowy
                            </td>
                            <td>
                                <input class="input" type="text" name="data_przyjecia" onfocus="removeSelection()"
                                    id="zip">
                            </td>
                            <td>
                                Numer domu
                            </td>
                            <td>
                                <input class="input" type="text" name="data_przyjecia">
                            </td>
                            <td>
                                Numer mieszkania
                            </td>
                            <td>
                                <input class="input" type="text" name="data_przyjecia" value="">
                            </td>
                        </tr>
                    </tbody>
                </table>

            </fieldset>

            <fieldset>
                <legend>Szkła</legend>
                <fieldset>
                    <legend>Do bliży</legend>
                    <table class="tabela-szkiel">
                        <thead>
                            <td colspan="2">
                                Sfera
                            </td>
                            <td>
                                Cylinder
                            </td>
                            <td>
                                Oś
                            </td>
                            <td>
                                PD
                            </td>
                            <td colspan="2">
                                Jakie rzeczywiście zrobiono
                            </td>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span style="color:white">L</span>
                                </td>
                                <td>
                                    <input class="input" type="text" name="Nazwisko" value="">
                                </td>
                                <td>
                                    <input class="input" type="text" name="Nazwisko" value="">
                                </td>
                                <td>
                                    <input class="input" type="text" name="Nazwisko" value="">
                                </td>
                                <td>
                                </td>
                                <td>
                                    <input class="input" type="text" name="Nazwisko" value="">
                                </td>
                                <td>
                                    <input class="input" type="text" name="Nazwisko" value="">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:white">P</span>
                                </td>
                                <td>
                                    <input class="input" type="text" name="Nazwisko" value="">
                                </td>
                                <td>
                                    <input class="input" type="text" name="Nazwisko" value="">
                                </td>
                                <td>
                                    <input class="input" type="text" name="Nazwisko" value="">
                                </td>
                                <td>
                                    <input class="input" type="text" name="Nazwisko" value="">
                                </td>
                                <td>
                                    <input class="input" type="text" name="Nazwisko" value="">
                                </td>
                                <td>
                                    <input class="input" type="text" name="Nazwisko" value="">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset>
                    <legend>Do czytania</legend>
                    <table class="tabela-szkiel">
                        <thead>
                            <td colspan="2">
                                Sfera
                            </td>
                            <td>
                                Cylinder
                            </td>
                            <td>
                                Oś
                            </td>
                            <td>
                                PD
                            </td>
                            <td colspan="2">
                                Jakie rzeczywiście zrobiono
                            </td>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span style="color:white">L</span>
                                </td>
                                <td>
                                    <input class="input" type="text" name="Nazwisko" value="">
                                </td>
                                <td>
                                    <input class="input" type="text" name="Nazwisko" value="">
                                </td>
                                <td>
                                    <input class="input" type="text" name="Nazwisko" value="">
                                </td>
                                <td>
                                </td>
                                <td>
                                    <input class="input" type="text" name="Nazwisko" value="">
                                </td>
                                <td>
                                    <input class="input" type="text" name="Nazwisko" value="">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:white">P</span>
                                </td>
                                <td>
                                    <input class="input" type="text" name="Nazwisko" value="">
                                </td>
                                <td>
                                    <input class="input" type="text" name="Nazwisko" value="">
                                </td>
                                <td>
                                    <input class="input" type="text" name="Nazwisko" value="">
                                </td>
                                <td>
                                    <input class="input" type="text" name="Nazwisko" value="">
                                </td>
                                <td>
                                    <input class="input" type="text" name="Nazwisko" value="">
                                </td>
                                <td>
                                    <input class="input" type="text" name="Nazwisko" value="">
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </fieldset>
            </fieldset>

            <fieldset>
                <legend>Cena</legend>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                Cena szkieł
                            </td>
                            <td>
                                <input class="input" type="text" name="Nazwisko" value="">
                            </td>
                            <td>
                                Refundacja
                            </td>
                            <td>
                                <input class="input" type="text" name="Nazwisko" value="">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <fieldset class="half-size-fieldset">
                <legend>Reszta</legend>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                Data wydania
                            </td>
                            <td>
                                <input class="input" type="text" name="Nazwisko" value="">
                        </tr>
                        <tr>
                            </td>
                            <td>
                                Zakład
                            </td>
                            <td>
                                <select>
                                    <option>Piotr</option>
                                    <option>Józef</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Numer Funduszu
                            </td>
                            <td>
                                <input class="input" type="text" name="Nazwisko" value="">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Data Funduszu
                            </td>
                            <td>
                                <input class="input" type="text" name="Nazwisko" value="">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <fieldset style="text-align: right">
                <legend>Kody</legend>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                Lewa Bliż
                            </td>
                            <td>
                                <select id="lewa-bliz-select">
                                    <option>71.00</option>
                                    <option>73.00</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Prawa Bliż
                            </td>
                            <td>
                                <select id="lewa-bliz-select">
                                    <option>71.00</option>
                                    <option>73.00</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Lewa Dal
                            </td>
                            <td>
                                <select id="lewa-bliz-select">
                                    <option>71.00</option>
                                    <option>73.00</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Prawa Dal
                            </td>
                            <td>
                                <select id="lewa-bliz-select">
                                    <option>71.00</option>
                                    <option>73.00</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <p class="last-paragraph"> Uwagi <input class="input wide-input" type="text" name="Nazwisko" value=""> </p>
        </form>
    </div>
</body>
<script src="../static/js/index.js">
</script>

</html>