<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div id="main_div">
            <nav class="navbar">
                <a class="active" href="#">Home</a>
                <a href="#">Search</a>
                <a href="#">Login</a>
            </nav>
            <div id="content">
                <form id="formularz">
                    Data przyjęcia: <input class="input" type="text" name="data_przyjecia" value="">
                        PESEL: <input class="input" type="text" name="PESEL" value="">
                        <br/>
                        Imie: <input class="input" type="text" name="Imie" value="">
                        Nazwisko: <input class="input" type="text" name="Nazwisko" value="">
                        <br/>
                        Miasto: <input class="input" type="text" name="Nazwisko" value="">
                        Kod pocztowy: <input class="input" type="text" name="Nazwisko" value="">
                        Ulica: <input class="input" type="text" name="Nazwisko" value="">
                        Nr. domu: <input class="input" type="text" name="Nazwisko" value="">
                        Nr. mieszkania: <input class="input" type="text" name="Nazwisko" value="">
                    <br/>
                    <fieldset>
                            <legend>Szkła</legend>
                            <fieldset>
                                <legend>Do bliży</legend>
                                <table>
                                    <thead>
                                        <td>
                                            Sfera
                                        </td>
                                        <td>
                                            Cylinder
                                        </td>
                                        <td>
                                            Oś
                                        </td>
                                        <td>
                                            PD
                                        </td>
                                        <td colspan="2">
                                            Jakie rzeczywiście zrobiono
                                        </td>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span style="color:white">L</span>
                                                <input class="input" type="text"
                                                    name="Nazwisko" value="">
                                            </td>
                                            <td>
                                                <input class="input" type="text"
                                                    name="Nazwisko" value="">
                                            </td>
                                            <td>
                                                <input class="input" type="text"
                                                    name="Nazwisko" value="">
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                                <input class="input" type="text"
                                                    name="Nazwisko" value="">
                                            </td>
                                            <td>
                                                <input class="input" type="text"
                                                    name="Nazwisko" value="">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span style="color:white">P</span>
                                                <input class="input" type="text"
                                                    name="Nazwisko" value="">
                                            </td>
                                            <td>
                                                <input class="input" type="text"
                                                    name="Nazwisko" value="">
                                            </td>
                                            <td>
                                                <input class="input" type="text"
                                                    name="Nazwisko" value="">
                                            </td>
                                            <td>
                                                <input class="input" type="text"
                                                    name="Nazwisko" value="">
                                            </td>
                                            <td>
                                                <input class="input" type="text"
                                                    name="Nazwisko" value="">
                                            </td>
                                            <td>
                                                <input class="input" type="text"
                                                    name="Nazwisko" value="">
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </fieldset>
                            <fieldset>
                                <legend>Do czytania</legend>
                                <table>
                                    <thead>
                                        <td>
                                            Sfera
                                        </td>
                                        <td>
                                            Cylinder
                                        </td>
                                        <td>
                                            Oś
                                        </td>
                                        <td>
                                            PD
                                        </td>
                                        <td colspan="2">
                                            Jakie rzeczywiście zrobiono
                                        </td>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span style="color:white">L</span>
                                                <input class="input" type="text"
                                                    name="Nazwisko" value="">
                                            </td>
                                            <td>
                                                <input class="input" type="text"
                                                    name="Nazwisko" value="">
                                            </td>
                                            <td>
                                                <input class="input" type="text"
                                                    name="Nazwisko" value="">
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                                <input class="input" type="text"
                                                    name="Nazwisko" value="">
                                            </td>
                                            <td>
                                                <input class="input" type="text"
                                                    name="Nazwisko" value="">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span style="color:white">P</span>
                                                <input class="input" type="text"
                                                    name="Nazwisko" value="">
                                            </td>
                                            <td>
                                                <input class="input" type="text"
                                                    name="Nazwisko" value="">
                                            </td>
                                            <td>
                                                <input class="input" type="text"
                                                    name="Nazwisko" value="">
                                            </td>
                                            <td>
                                                <input class="input" type="text"
                                                    name="Nazwisko" value="">
                                            </td>
                                            <td>
                                                <input class="input" type="text"
                                                    name="Nazwisko" value="">
                                            </td>
                                            <td>
                                                <input class="input" type="text"
                                                    name="Nazwisko" value="">
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </fieldset>

                            <!-- <p>L: <input class="input" type="text" name="Nazwisko" value="">
                                    <input class="input" type="text" name="Nazwisko" value="">
                                    <input class="input" type="text" name="Nazwisko" value="">
                                    PD: <input class="input" type="text" name="Nazwisko" value="">
                                    Jakie zrobiono : <input class="input" type="text" name="Nazwisko" value=""></p>
                                <p>P: <input class="input" type="text" name="Nazwisko" value="">
                                    <input class="input" type="text" name="Nazwisko" value="">
                                    <input class="input" type="text" name="Nazwisko" value="">
                                    PD: <input class="input" type="text" name="Nazwisko" value=""> 
                                    Jakie zrobiono : <input class="input" type="text" name="Nazwisko" value="">
                                </p></fieldset> -->
                    </fieldset>
                    
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </body>
</html>